/*  footer  */
footer {
    align-items: center;
    width: 100%;
    padding: 50px 0 20px 0;
    color: var(--color-theme);
    background-color: var(--color-text);
}

footer a {
    color: var(--color-theme);
}

footer > section {
    width: 80%;
}

footer > section > img {
    width: 7rem;
    margin-bottom: 15px;
}

footer > section > div {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

footer div > a > img {
    height: 2rem;
    margin-left: 10px;
}

footer div > a {
    transition: ease-in-out .3s;
}

footer div > a:hover {
    position: relative;
    transform: translate(0, -5px);
}
/*  footer  */

@media (max-width: 550px) {
    .base {
        flex-direction: column-reverse;
    }

    .base p {
        margin-top: 20px;
    }
}
